# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [66]:
# load csv from WeatherPy to a DataFrame
csv_load = []

with open('city_list.csv','r', encoding="utf-8-sig") as csvfile:    
    city_list = pd.read_csv(csvfile)
        
city_list

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Ponta Delgada,20,PT,1584214889,72,37.73,-25.67,60.80,13.87
1,Rikitea,0,PF,1584214891,80,-23.12,-134.97,77.67,13.69
2,Lebu,0,CL,1584214893,54,-37.62,-73.65,62.87,13.24
3,Korla,100,CN,1584214895,59,41.76,86.15,39.99,1.57
4,Isangel,75,VU,1584214897,78,-19.55,169.27,82.40,12.75
...,...,...,...,...,...,...,...,...,...
577,Kysyl-Syr,100,RU,1584216140,98,63.90,122.76,-3.15,6.44
578,Karratha,88,AU,1584216142,76,-20.74,116.85,83.07,14.34
579,Kalat,99,PK,1584216145,32,29.02,66.59,44.19,1.52
580,Moa,0,CU,1584216147,69,20.66,-74.94,75.51,9.44
581,Hsinchu,75,TW,1584216005,76,24.80,120.97,57.99,10.29

### Humidity Heatmap

In [67]:
# configure gkey
gmaps.configure(api_key=g_key)

In [68]:
# create weighted heatmap based on coordinates & himidity
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    city_list[['Lat', 'Lng']], weights=city_list['Humidity'],
    max_intensity=70, point_radius=7.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

In [69]:
# create new df based on temperature conditions & drop any null values
perf_temp = city_list.loc[((city_list['Max Temp'] > 70) & (city_list['Max Temp'] < 80)) & (city_list['Wind Speed'] < 10) & (city_list['Cloudiness'] == 0)].dropna()

### Hotel Map
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [64]:
# create new df based on meeting temperature conditions & add new column for hotel names
hotel_df = perf_temp
hotel_df["Hotel Name"] = ""

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map